<nav class="navbar navbar-expand-lg navbar-light bg-secondary">

  <ul class="navbar-nav">

   

      <a class="navbar-brand" href="#">

          
        </a>

                   


      <a routerLink="users" class="nav-link" routerLinkActive="active"><b>Sign Up</b></a>

    

    

      <a routerLink="login" class="nav-link" routerLinkActive="active"><b>Sign In</b></a>

           



</ul>

  

</nav>

<div class="container-flex">

  

      <router-outlet></router-outlet>

  

  

</div>





<!-- <footer class="footer">

  <div class="container">

    <span>All Rights Reserved 2020</span>

  </div>

  

</footer> -->